<!-- Page contents -->
<div style="position: relative; ">

    <div>
        name: &nbsp;<input type="text" id="range444" value="<%=Datas.name%>" name="range" />
        address : &nbsp;<input type="text" id="rang99" value="<%=Datas.address%>" name="address" />
        test: <input type="text" id="rang77" value="" name="address" />

    </div>

</div>


<script type ="text/javascript">


  $('#rang77').val (dataModels.name+"-"+dataModels.address);


</script>
